#!/bin/bash
TIMEOUT=5;
PDBFILE='pxies.db';
CQUERY='select IP,port from proxy where checked is null';
CHECKURL='http://<YOUR_IP:PORT>/proxycheck.php';
SSLCKURL='https://<YOUR_IP:PORT>/proxycheck.php';
